<mat-card>
  <h1>
    History of Loans
  </h1>
</mat-card>
<mat-accordion>
  <mat-expansion-panel *ngFor="let loan of loans">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf="loan.isApproved == true && loan.isVoted == true">thumb_up</mat-icon>
        <mat-icon *ngIf="loan.isApproved == false && loan.isVoted == true">thumb_down</mat-icon>
        <mat-icon *ngIf="loan.isVoted == false">settings_backup_restore</mat-icon>
        {{loan.title}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="3">
      <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
        <div class="text-inside-grid">
          <h3>General Information</h3>
          <p>{{loan.description}}</p>
          <div class="myself">
            <div class="property">Application Date:</div>
            <div class="value"> {{getFormattedDate(loan.applicationDate)}}</div>
            <div class="property">Applicant:</div>
            <div class="value"> {{loan.applicant}}</div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
        <div class="text-inside-grid">
          <h3>Financial Information</h3>
          <div class="myself">
            <div class="property">Amount:</div>
            <div class="value"> {{getFormattedAmount(loan.amount)}}</div>
            <div class="property">Interest Rate:</div>
            <div class="value"> {{loan.interestRate}}%</div>
            <div class="property">Period:</div>
            <div class="value"> {{loan.period}} years</div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-inside-grid">
          <h3>Voting</h3>
          <google-chart [data]="pieChartData"></google-chart>
          <div *ngIf="loan.isApproved == true && loan.isVoted == true">
            Approved
          </div>
          <div *ngIf="loan.isApproved == false && loan.isVoted == true">
            Not Approved
          </div>
          <div *ngIf="loan.isVoted == false">
            Voting still in progress
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>