<mat-card>
  <h1>
    New Loan Request
  </h1>
</mat-card>
<mat-card>
  <mat-card-content>
    <div class="input-container">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
      <mat-form-field>
        <input matInput placeholder="Titel" [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Loan Description" [(ngModel)]="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Amount" [(ngModel)]="amount">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Interest Rate" [(ngModel)]="interestRate">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Period" [(ngModel)]="period">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"(click)="applyForLoan($event)">Apply</button>
    <button mat-raised-button color="accent" (click)="saveDraft($event)">Save Draft</button>
  </mat-card-actions>
</mat-card>