<p>
  all-ratings works!
</p>
<mat-accordion>
  <mat-expansion-panel *ngFor="let rating of ratings">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{rating.company_name}}
      </mat-panel-title>
      <mat-panel-description>
        Current rating: {{rating.rating}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <a routerLink="{{rating.id}}">
      <button mat-raised-button>
        Explore rating of {{rating.company_name}}
      </button>
    </a>
  </mat-expansion-panel>
</mat-accordion>